Repository MasahiroSakoda/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, chezmoi, homebrew, cli, shell, mise, neovim, vscode, terminal

.github/labeler.yml:

# -*-mode:yaml-*- vim:ft=yaml
ci:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/*.yml"
      - ".github/ISSUE_TEMPLATE/*.yml"

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/renovate.json5"
      - ".github/dependabot.yml"

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "README.md"
      - 'CONTRIBUTING.md'
      - "SECURITY.md"

chezmoi:
  - changed-files:
    - any-glob-to-any-file:
      - ".chezmoiroot"
      - "home/.chezmoi.toml.tmpl"
      - "home/.chezmoidata.toml"
      - "home/.chezmoiversion"
      - "home/.chezmoiignore"
      - "home/.chezmoiremove"
      - "home/.chezmoiscripts/*.sh.tmpl"
      - "home/.chezmoitemplates/**/*"
      - "home/.chezmoiexternals/*"

homebrew:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/homebrew/*.tmpl"
      - "home/.chezmoiscripts/run_once_after_00-homebrew.sh.tmpl"
      - "home/.chezmoitemplates/common/script_eval_brew"

cli:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config//*"

shell:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/fish/*.fish.tmpl"
      - "home/dot_config/fish/**/*"
      - "home/dot_config/fish/fish_plugins"
      - "home/dot_config/zsh/*"
      - "home/dot_config/zsh/functions/*"
      - "home/.chezmoiscripts/run_once_after_10-fish.sh.tmpl"

mise:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiscripts/run_once_after_2*.sh.tmpl"
      - "home/dot_config/mise/*.toml.tmpl"
      - "home/dot_default-*.tmpl"

neovim:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/nvim/lua/**/*.lua"
      - "home/dot_config/nvim/lua/**/*.lua.tmpl"
      - "home/dot_config/nvim/after/**/*.lua"

vscode:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiscripts/run_onchange_after_04-vscode.sh.tmpl"
      - "home/.chezmoitemplates/common/vscode-settings.json.tmpl"
      - "home/Library/Applications Support/Code/User/settings.json.tmpl"
      - "home/dot_config/Code/User/settings.json.tmpl"
      - "home/dot_editorconfig.tmpl"

terminal:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiexternals/tmux.toml.tmpl"
      - "home/dot_config/wezterm/*"
      - "home/dot_config/zellij/*"

chore(brew): remove `helix` command
  home/.chezmoidata/packages.toml
Labels: none

chore: remove `helix` config
  home/dot_config/fish/conf.d/env.fish.tmpl
  home/dot_config/helix/config.toml
  home/dot_config/helix/languages.toml.tmpl
  home/dot_config/nushell/scripts/alias.nu
Labels: shell

chore(brew): remove `nushell` command
  home/.chezmoidata/packages.toml
Labels: none

chore(neovim): remove `nushell` lsp config
  home/dot_config/nvim/lua/lsp/servers/init.lua
Labels: neovim

chore: remove `nushell` config
  home/.chezmoidata/nushell.toml
  home/.chezmoiexternals/nushell.toml.tmpl
  home/dot_config/nushell/config.nu.tmpl
  home/dot_config/nushell/env.nu.tmpl
  home/dot_config/nushell/functions/ghq.nu
  home/dot_config/nushell/functions/ls.nu
  home/dot_config/nushell/functions/mod.nu
  home/dot_config/nushell/functions/nvim.nu
  home/dot_config/nushell/functions/zellij.nu
  home/dot_config/nushell/scripts/alias.nu
  home/dot_config/nushell/scripts/mod.nu
  home/dot_config/nushell/scripts/theme.nu
Labels: chezmoi

docs(readme): remove `nushell` lsp statement
  README.md
Labels: documentation

chore(chezmoi): remove `nushell` choice in `chezmoi init` command
  home/.chezmoi.toml.tmpl
Labels: chezmoi

chore(neovim): remove `vim-language-server` config
  home/dot_config/nvim/lua/lsp/servers/init.lua
  home/dot_config/nvim/lua/lsp/servers/vimls.lua
Labels: neovim

chore(neovim): remove `vint` config
  home/dot_config/nvim/lua/lsp/config/null-ls.lua
  home/dot_config/nvim/lua/lsp/servers/init.lua
Labels: neovim

chore(neovim): remove `cmake-language-server` config
  home/dot_config/nvim/lua/lsp/servers/cmake.lua
  home/dot_config/nvim/lua/lsp/servers/init.lua
Labels: neovim

feat(neovim): replace `taplo` with `tombi` as `toml` language server
  home/dot_config/nvim/lua/lsp/servers/init.lua
  home/dot_config/nvim/lua/lsp/servers/tombi.lua
  home/dot_config/nvim/lua/user/filetypes.lua
Labels: neovim

chore(neovim): deactivate `terraform` language server
  home/dot_config/nvim/lua/lsp/servers/init.lua
Labels: neovim

chore(neovim): remove `taplo` config file
  home/dot_config/nvim/lua/lsp/servers/taplo.lua
Labels: neovim

chore(neovim): remove `nushell` lsp config
  home/dot_config/nvim/lua/lsp/servers/nushell.lua
Labels: neovim

chore(neovim): remove deprecated `codecompanion.nvim` command
  home/dot_config/nvim/lua/plugins/ai.lua
Labels: neovim

feat(neovim): update `gemini` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/gemini.lua
Labels: neovim

feat(neovim): update `groq` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/groq.lua
Labels: neovim

fix(yt-dlp): wrong subtitle lang config
  home/dot_config/yt-dlp/config.tmpl
Labels: none

feat(yt-dlp): add `--embed-chapters` option
  home/dot_config/yt-dlp/config.tmpl
Labels: none

feat(yt-dlp): update format option
  home/dot_config/yt-dlp/config.tmpl
Labels: none

chore(brew): remove `font-cica`
  home/.chezmoidata/packages.toml
Labels: none

feat: replace non-ascii font: `font-hackgen-nerd` -> `font-plemol-jp-nf`
  README.md
  home/.chezmoidata/fonts.toml
  home/.chezmoidata/packages.toml
  home/.chezmoiexternals/fonts.toml.tmpl
Labels: documentation, chezmoi

chore: remove unsed file
  home/dot_config/matplotlib/fontlist-v330.json
Labels: none

feat(neovim): replace `MANPAGER`: preview with `nvim` instead of `bat`
  home/dot_config/fish/config.fish.tmpl
Labels: shell

feat(neovim): replace `MANPAGER` for zsh
  home/dot_config/zsh/zprofile
Labels: shell

chore(brew): revise outdated package name for moom
  home/.chezmoidata/packages.toml
Labels: none

chore(brew): remove unused statement
  home/dot_config/homebrew/Brewfile.tmpl
Labels: homebrew

feat(brew): remove unused packages using `mas` command
  home/.chezmoidata/packages.toml
Labels: none

fix(neovim): language server binary name typo
  home/dot_config/nvim/lua/lsp/servers/html.lua
Labels: neovim

feat(neovim): update `html-language-server` filetypes
  home/dot_config/nvim/lua/lsp/servers/html.lua
  home/dot_config/nvim/lua/user/filetypes.lua
Labels: neovim

fix(neovim): typo for `ruby-lsp`
  home/dot_config/nvim/lua/lsp/servers/init.lua
Labels: neovim

docs(readme): update lsp statements
  README.md
Labels: documentation

chore(neovim): update `OverseerRestartLast` command
  home/dot_config/nvim/lua/user/overseer.lua
Labels: neovim

feat(neovim): simplify `lualine.nvim` extension config
  home/dot_config/nvim/lua/ui/lualine.lua
Labels: neovim

feat(neovim): udpate `overseer.nvim` strategy
  home/dot_config/nvim/lua/user/overseer.lua
Labels: neovim

revert(neovim): activate async grep again using `overseer.nvim`
  home/dot_config/nvim/lua/core/keymap.lua
  home/dot_config/nvim/lua/user/overseer.lua
Labels: neovim

feat(neovim): update `trouble.nvim` keymap
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

feat(neovim): update `loclist` config
  home/dot_config/nvim/lua/lsp/config/trouble.lua
Labels: neovim

feat(neovim): update overriding `qflist`
  home/dot_config/nvim/lua/core/autocmds.lua
Labels: neovim

feat(neovim): update openai models
  home/dot_config/nvim/lua/ai/codecompanion/adapters/openai.lua
Labels: neovim
