Repository MasahiroSakoda/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, chezmoi, homebrew, cli, shell, mise, neovim, vscode, terminal

feat(ai): update native MCP servers config
  home/dot_config/mcphub/servers.json.tmpl
Labels: none

feat(ai): add `autoApprove` option for custom MCP servers
  home/dot_config/mcphub/servers.json.tmpl
Labels: none

feat(ai): add `~/.gemini/settings.json` for global Gemini CLI config
  home/dot_gemini/settings.json.tmpl
Labels: none

feat(ai): move `~/.gemini/settings.json` to `~/.config/gemini/settings.json`
  home/dot_config/gemini/settings.json.tmpl
Labels: none

feat(mise): update `mise` global config
  home/.chezmoidata/mise.toml
Labels: none

feat(neovim): update `jsonls` config
  home/dot_config/nvim/lua/lsp/servers/jsonls.lua
Labels: neovim

feat(neovim): update `tombi` lsp config
  home/dot_config/nvim/lua/lsp/servers/tombi.lua
Labels: neovim

feat(tombi): add `tombi` global config
  home/dot_config/tombi/config.toml.tmpl
Labels: none

feat(npm): remove `create-*-app` packages
  home/.chezmoidata/packages.toml
Labels: none

feat(brew): rename cask package: `docker` -> `docker-desktop`
  home/.chezmoidata/packages.toml
Labels: none

feat(neovim): remove `toggleterm.nvim` as nvim plugin
  home/dot_config/nvim/lua/core/autocmds.lua
  home/dot_config/nvim/lua/core/ignore.lua
  home/dot_config/nvim/lua/plugins/editor.lua
  home/dot_config/nvim/lua/ui/toggleterm.lua
Labels: neovim

feat(ai): move `~/.config/gemini/settings.json` back to ~/.gemini` again
  home/.chezmoitemplates/common/mcp-permissions.json
  home/.chezmoitemplates/common/mcp-servers.json
  home/dot_gemini/settings.json.tmpl
Labels: chezmoi

feat(ai): add `GEMINI.md` for global instruction guidelines
  home/dot_gemini/GEMINI.md
Labels: none

feat: update `.markdownlint.yml` to pass ci
  .markdownlint.yml
Labels: none

fix: markdown line limit
  home/dot_gemini/GEMINI.md
Labels: none

feat(neovim): update `bufferline.nvim` tab format
  home/dot_config/nvim/lua/ui/bufferline.lua
Labels: neovim

chore: remove `broot` config
  home/dot_config/broot/conf.toml
  home/dot_config/broot/ext_colors.toml
  home/dot_config/broot/skins/dark-blue.hjson
  home/dot_config/broot/skins/dark-gruvbox.hjson
  home/dot_config/broot/skins/dark-orange.hjson
  home/dot_config/broot/skins/solarized-dark.hjson
  home/dot_config/broot/skins/solarized-light.hjson
  home/dot_config/broot/skins/white.hjson
  home/dot_config/broot/verbs.toml
Labels: none

chore: remove `solargraph` config
  home/dot_config/solargraph/config.yml.tmpl
Labels: none

feat(mise): update `pnpm` version
  home/.chezmoidata/mise.toml
Labels: none

.github/labeler.yml:

# -*-mode:yaml-*- vim:ft=yaml
ci:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/*.yml"
      - ".github/ISSUE_TEMPLATE/*.yml"

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/renovate.json5"
      - ".github/dependabot.yml"

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "README.md"
      - 'CONTRIBUTING.md'
      - "SECURITY.md"

chezmoi:
  - changed-files:
    - any-glob-to-any-file:
      - ".chezmoiroot"
      - "home/.chezmoi.toml.tmpl"
      - "home/.chezmoidata.toml"
      - "home/.chezmoiversion"
      - "home/.chezmoiignore"
      - "home/.chezmoiremove"
      - "home/.chezmoiscripts/*.sh.tmpl"
      - "home/.chezmoitemplates/**/*"
      - "home/.chezmoiexternals/*"

homebrew:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/homebrew/*.tmpl"
      - "home/.chezmoiscripts/run_once_after_00-homebrew.sh.tmpl"
      - "home/.chezmoitemplates/common/script_eval_brew"

cli:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config//*"

shell:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/fish/*.fish.tmpl"
      - "home/dot_config/fish/**/*"
      - "home/dot_config/fish/fish_plugins"
      - "home/dot_config/zsh/*"
      - "home/dot_config/zsh/functions/*"
      - "home/.chezmoiscripts/run_once_after_10-fish.sh.tmpl"

mise:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiscripts/run_once_after_2*.sh.tmpl"
      - "home/dot_config/mise/*.toml.tmpl"
      - "home/dot_default-*.tmpl"

neovim:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/nvim/lua/**/*.lua"
      - "home/dot_config/nvim/lua/**/*.lua.tmpl"
      - "home/dot_config/nvim/after/**/*.lua"

vscode:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiscripts/run_onchange_after_04-vscode.sh.tmpl"
      - "home/.chezmoitemplates/common/vscode-settings.json.tmpl"
      - "home/Library/Applications Support/Code/User/settings.json.tmpl"
      - "home/dot_config/Code/User/settings.json.tmpl"
      - "home/dot_editorconfig.tmpl"

terminal:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiexternals/tmux.toml.tmpl"
      - "home/dot_config/wezterm/*"
      - "home/dot_config/zellij/*"
