Repository MasahiroSakoda/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, chezmoi, homebrew, cli, shell, mise, neovim, vscode, terminal

feat(neovim): update anthropic models
  home/dot_config/nvim/lua/ai/codecompanion/adapters/anthropic.lua
Labels: neovim

feat(neovim): update copilot models
  home/dot_config/nvim/lua/ai/codecompanion/adapters/copilot.lua
Labels: neovim

style(neovim): fix indent
  home/dot_config/nvim/lua/ai/codecompanion/prompts/init.lua
Labels: neovim

feat(neovim): update nvim plugin keymap
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

feat(neovim): add `loclist` keymap using `Snacks.picker`
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

fix(neovim): wrong keymap statement
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

fix(neovim): typo
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

feat(neovim): update `feed.nvim` keymaps
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

chore(neovim): remove unused keymap to supress warning
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

chore(neovim): revert lsp keymap to default
  home/dot_config/nvim/lua/core/autocmds.lua
Labels: neovim

chore(neovim): remove duplicated keymap
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

feat(neovim): update `octo.nvim` keymaps
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

feat(neovim): add `feed.nvim` keymap
  home/dot_config/nvim/lua/core/keymap.lua
Labels: neovim

feat(neovim): add `tailwindcss-language-server` config
  home/dot_config/nvim/lua/lsp/servers/init.lua
  home/dot_config/nvim/lua/lsp/servers/tailwindcss.lua
Labels: neovim

feat(neovim): disable `lua_ls` format
  home/dot_config/nvim/lua/lsp/servers/lua_ls.lua
Labels: neovim

feat(neovim): update lsp format config
  home/dot_config/nvim/lua/core/autocmds.lua
  home/dot_config/nvim/lua/lsp/config/format.lua
Labels: neovim

feat(neovim): add missing filetype for `tailwindcss`
  home/dot_config/nvim/lua/user/filetypes.lua
Labels: neovim

feat(neovim): update `denols` config
  home/dot_config/nvim/lua/lsp/servers/denols.lua
Labels: neovim

feat(neovim): update diagnostic config
  home/dot_config/nvim/lua/lsp/config/diagnostics.lua
Labels: neovim

feat(neovim): update `ts_ls` config as `neovim/nvim-lspconfig` default
  home/dot_config/nvim/lua/lsp/servers/ts_ls.lua
Labels: neovim

feat(neovim): add `settings` option to extend default config for `ts_ls`
  home/dot_config/nvim/lua/lsp/servers/ts_ls.lua
Labels: neovim

chore(neovim): update filetype for `js`
  home/dot_config/nvim/lua/user/filetypes.lua
Labels: neovim

feat(neovim): update `gopls` config
  home/dot_config/nvim/lua/lsp/servers/gopls.lua
Labels: neovim

chore(firefox): update tridactyl config
  home/dot_config/tridactyl/encrypted_private_tridactylrc.tmpl.age
Labels: none

feat(neovim): update `gemini` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/gemini.lua
Labels: neovim

feat(neovim): update `groq` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/groq.lua
Labels: neovim

revert(neovim): `qwen3:8b` -> `qwen2.5-coder:7b`
  home/dot_config/nvim/lua/ai/codecompanion/adapters/qwen.lua
Labels: neovim

feat(lint): update `markdownlint` config
  .markdownlint.yml
Labels: none

feat(editorconfig): update `markdown` indent config
  home/dot_editorconfig.tmpl
Labels: vscode

feat(neovim): remove `copilot.lua` as nvim plugin
  home/dot_config/nvim/lua/ai/copilot/init.lua
  home/dot_config/nvim/lua/plugins/ai.lua
Labels: neovim

feat(neovim): update deprecated `mcphub` config
  home/dot_config/nvim/lua/ai/codecompanion/init.lua
Labels: neovim

feat(neovim): remove `blink-copilot` as nvim plugin
  home/dot_config/nvim/lua/plugins/cmp.lua
Labels: neovim

feat(neovim): remove `blink-copilot` completion config
  home/dot_config/nvim/lua/lsp/cmp/blink.lua
Labels: neovim

feat(neovim): udpate `qwen` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/qwen.lua
Labels: neovim

feat(neovim): update `anthropic` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/anthropic.lua
Labels: neovim

feat(neovim): update `gemini` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/gemini.lua
Labels: neovim

feat(neovim): update command to run mcp server: `npx` -> `pnpm dlx`
  home/dot_config/mcphub/servers.json.tmpl
Labels: none

feat(neovim): add sequential thinking mcp server
  home/dot_config/mcphub/servers.json.tmpl
Labels: none

feat(neovim): add youtube mcp server
  home/dot_config/mcphub/servers.json.tmpl
Labels: none

feat(neovim): update `copilot` adapter
  home/dot_config/nvim/lua/ai/codecompanion/adapters/copilot.lua
Labels: neovim

.github/labeler.yml:

# -*-mode:yaml-*- vim:ft=yaml
ci:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/*.yml"
      - ".github/ISSUE_TEMPLATE/*.yml"

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/renovate.json5"
      - ".github/dependabot.yml"

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "README.md"
      - 'CONTRIBUTING.md'
      - "SECURITY.md"

chezmoi:
  - changed-files:
    - any-glob-to-any-file:
      - ".chezmoiroot"
      - "home/.chezmoi.toml.tmpl"
      - "home/.chezmoidata.toml"
      - "home/.chezmoiversion"
      - "home/.chezmoiignore"
      - "home/.chezmoiremove"
      - "home/.chezmoiscripts/*.sh.tmpl"
      - "home/.chezmoitemplates/**/*"
      - "home/.chezmoiexternals/*"

homebrew:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/homebrew/*.tmpl"
      - "home/.chezmoiscripts/run_once_after_00-homebrew.sh.tmpl"
      - "home/.chezmoitemplates/common/script_eval_brew"

cli:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config//*"

shell:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/fish/*.fish.tmpl"
      - "home/dot_config/fish/**/*"
      - "home/dot_config/fish/fish_plugins"
      - "home/dot_config/zsh/*"
      - "home/dot_config/zsh/functions/*"
      - "home/.chezmoiscripts/run_once_after_10-fish.sh.tmpl"

mise:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiscripts/run_once_after_2*.sh.tmpl"
      - "home/dot_config/mise/*.toml.tmpl"
      - "home/dot_default-*.tmpl"

neovim:
  - changed-files:
    - any-glob-to-any-file:
      - "home/dot_config/nvim/lua/**/*.lua"
      - "home/dot_config/nvim/lua/**/*.lua.tmpl"
      - "home/dot_config/nvim/after/**/*.lua"

vscode:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiscripts/run_onchange_after_04-vscode.sh.tmpl"
      - "home/.chezmoitemplates/common/vscode-settings.json.tmpl"
      - "home/Library/Applications Support/Code/User/settings.json.tmpl"
      - "home/dot_config/Code/User/settings.json.tmpl"
      - "home/dot_editorconfig.tmpl"

terminal:
  - changed-files:
    - any-glob-to-any-file:
      - "home/.chezmoiexternals/tmux.toml.tmpl"
      - "home/dot_config/wezterm/*"
      - "home/dot_config/zellij/*"
